@media (max-width: 1400px) {
  .sky-video-box {
    height: 40vh;
  }
}

@media (max-width: 1200px) {
  .about-box {
    height: 50vh;
  }
  .c-abstract-box {
    height: 50vh;
  }
}

@media (max-width: 992px) {
  .burgeon-nav-menu {
    display: none !important;
  }
  .tiger-ox {
    height: 384px;
  }
  .burgeon-partner-major {
    justify-content: center !important;
  }
  .burgeon-partner-major img {
    margin-top: 36px;
  }
  .burgeon-nav-mobile-button {
    display: block;
  }
}

@media (max-width: 768px) {
  .burgeon-nav-title {
    display: none !important;
  }
  .contact-mobile {
    display: none;
  }
  .c-abstract-box {
    text-align: center;
  }
  .operation-text-center {
    text-align: center;
  }
  .gratitude-text-center {
    text-align: center;
  }
  .overlay-content-mobile {
    height: 100%;
    justify-content: space-evenly;
    flex-direction: column !important;
  }
  .operation-hide-box {
    padding-right: 0px;
  }
  .operation-hide-overlay {
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: var(--bs-border-radius)!important;
    border-bottom-right-radius: var(--bs-border-radius)!important;
  }
  .operation-hide-box {
    display: none;
  }
}

@media (max-width: 576px) {
  .tiger-ox {
    height: 308px !important;
  }
  .partner-pepperstone {
    height: 64px;
  }
  .partner-aws {
    height: 48px;
  }
  .bai-navbar {
    max-width: 330px;
  }
  .sky-video-box {
    height: 25vh;
  }
}

@media (max-width: 400px) {
  .c-abstract-box {
    height: 65vh;
  }
}

@media (max-width: 370px) {
  .bai-navbar {
    max-width: 250px;
  }
}

@media (max-width: 280px) {
  .about-box {
    height: 30vh;
  }
  .c-abstract-box {
    height: 70vh;
  }
}