@media (max-width: 1400px) {
  .c-abstract-box {
    height: 70vh;
  }

  .sky-video-box-mobile {
    height: 30vh;
  }

  .valbury-container-mobile {
    flex-direction: row !important;
  }

  .valbury-box:nth-child(1) {
    margin-bottom: 0px;
    margin-right: 12px;
  }

  .valbury-box:nth-child(2) {
    margin-top: 0px;
    margin-left: 12px;
  }

  .portfolio-everything-mobile {
    padding-left: 70px !important;
  }

  .ecommerce-box {
    padding-left: 70px !important;
  }

  .news-content-container {
    padding-left: 24px;
  }

  .valbury-box {
    height: 100% !important;
    width: 50%;
  }

  .background-partner-overlay {
    background-position-x: 70px;
  }
}

@media (max-width: 992px) {
  .burgeon-nav-menu {
    display: none !important;
  }

  .tiger-ox {
    height: 384px;
  }

  .burgeon-nav-mobile-button {
    display: block !important;
  }

  .jumbotron-overlay {
    display: none !important;
  }

  .about-rightbox-focus {
    width: 100%;
  }

  .about-rightbox-focus p,
  .about-rightbox-focus h3 {
    text-align: center;
  }

  .about-rightbox-focus-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .outro-text-mobile {
    font-size: 1.25rem !important;
  }

  .outro-link-mobile {
    display: grid;
  }

  .background-partner-overlay {
    background-position-x: 550px;
  }

  .system-logo-mobile {
    justify-content: space-between !important;
  }

  .system-logo-mobile img {
    margin-left: 0px !important;
  }

  .ordering-badges-valbury-mobile {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
}

@media (min-width: 768px) {
  #status-message-mobile {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .about-box {
    height: 50vh;
  }

  .burgeon-nav-title {
    display: none !important;
  }

  .contact-mobile {
    display: none;
  }

  .c-abstract-box {
    text-align: center;
  }

  .operation-text-center {
    text-align: center;
  }

  .portfolio-box-mobile .col-md-4:nth-child(2),
  .portfolio-box-mobile .col-md-4:nth-child(3) {
    margin-top: 24px;
  }

  .valbury-container-mobile {
    height: 35% !important;
  }

  .other-operations-container-mobile {
    height: 65% !important;
  }

  .burgeon-mobile-first-operations {
    display: block !important;
  }

  .mobile-child-operations {
    display: none;
  }

  .operation-container-overlay-container {
    display: none;
  }

  .valbury-box {
    padding-left: 24px !important;
  }

  .portfolio-everything-mobile {
    padding-left: 24px !important;
  }

  .ecommerce-box {
    padding-left: 24px !important;
  }

  .outro-mobile {
    align-items: center !important;
    justify-content: center !important;
  }

  .outro-text-mobile {
    text-align: center !important;
  }

  .outro-link-mobile {
    display: inline;
  }

  .outro-header-mobile h2,
  .outro-header-mobile p {
    text-align: center;
  }

  .tiger-ox {
    padding-top: 24px;
  }

  .outro-text-mobile {
    padding-bottom: 24px;
  }

  .background-partner-overlay {
    background-position-x: 450px;
  }

  .vr {
    display: none;
  }

  .partner-margin-text-mobile {
    margin: 0;
  }

  .pepperstone-header-mobile {
    text-align: center;
  }

  .pepperstone-text-mobile {
    text-align: center;
  }

  .pepperstone-misc-mobile {
    flex-direction: column !important;
  }

  .pepperstone-misc-mobile img {
    align-self: center;
    margin-bottom: 16px;
    height: 60px;
  }

  .system-logo-mobile {
    flex-direction: column;
  }

  .system-logo-mobile img {
    height: 36px;
    margin-left: 0px !important;
    margin-bottom: 16px;
  }

  .pepperstone-misc-mobile .btn {
    align-self: center;
  }

  .system-logo-mobile {
    justify-content: center !important;
  }

  .another-partner-text-mobile p {
    text-align: center;
  }

  .partners-marquee-box {
    height: 200px;
  }

  .associates-text-mobile h2 {
    text-align: center;
  }

  .associates-text-mobile p {
    text-align: center;
  }

  .associates-box-mobile img {
    height: 36px;
  }

  .footer p {
    text-align: center;
  }

  .social-media-footer-mobile {
    align-items: center;
  }

  .social-media-footer-mobile-items {
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: center;
  }

  .social-media-footer-mobile-links {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 40px !important;
  }

  .footer-text-mobile {
    margin-top: 40px !important;
  }

  .footer-image-container {
    height: 250px;
  }

  .footer-link-right-mobile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer-link-box-mobile {
    margin-top: 40px !important;
  }

  .footer-item-link-mobile {
    display: inline-block !important;
    margin: 0 !important;
    margin-right: 12px !important;
    margin-left: 12px !important;
    margin-top: 16px !important;
  }

  .burgeon-mobile-first-operations .slick-list {
    padding: 0 !important;
    height: 100% !important;
  }

  .burgeon-mobile-first-operations .slick-slider {
    height: 100% !important;
  }

  .burgeon-mobile-first-operations .slick-track {
    height: 100% !important;
  }

  .burgeon-mobile-first-operations .slick-slide {
    margin: 0px 0px 0px 0px;
    display: grid !important;
    transition: opacity 500ms, visibility 500ms, width 500ms, margin 500ms !important;
  }

  .burgeon-mobile-first-operations .slick-arrow {
    display: none !important;
  }

  .overlay-container-mobile {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    z-index: 9996;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 48px;
    padding-top: 16px;
  }

  .overlay-container-mobile-box {
    border-bottom-left-radius: var(--bs-border-radius) !important;
    border-bottom-right-radius: var(--bs-border-radius) !important;
    background-color: #1C1C24;
    transition: all 500ms;
  }

  .overlay-container-mobile-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 24px;
    padding-right: 24px;
  }

  .overlay-container-mobile-box h2 {
    text-align: center;
  }

  .overlay-container-mobile-box p {
    text-align: center;
  }

  /* Overlay Mobile Operations Animations */

  .valbury-container-mobile {
    transition: all 500ms;
  }

  .outro-container {
    transition: all 500ms;
  }

  .burgeon-partners {
    transition: all 500ms;
  }

  /* Overlay Mobile Operations Animations End*/

  /* Overlay Mobile */

  .border-radius-conditional-click {
    border-top-left-radius: var(--bs-border-radius) !important;
    border-top-right-radius: var(--bs-border-radius) !important;
  }

  .padding-left-conditional-click {
    padding-left: 24px !important;
  }

  .margin-top-conditional-click {
    margin-top: 86px;
  }

  .ordering-badges-valbury-mobile {
    flex-direction: column !important;
  }

  .signal-order-box-custom {
    display: none;
  }

  #status-message {
    display: none !important;
  }

  .vaf-slide-container {
    margin-top: 92px;
  }

  .vaf-slide-button {
    margin-bottom: 12px;
  }

  .news-pagination {
    display: none !important;
  }

  .extras-container {
    display: none !important;
  }

  .extras-container-mobile {
    display: flex !important;
  }

  /* Overlay Mobile End */
}

@media (max-width: 576px) {
  .tiger-ox {
    height: 308px !important;
  }

  .sky-video-box {
    height: 25vh;
  }

  .about-leftbox-description-mobile {
    display: none;
  }

  .about-leftbox-header-mobile {
    margin-bottom: 0px;
  }

  .about-rightbox-focus p {
    display: none;
  }

  .about-rightbox-focus h3 {
    margin-bottom: 0px;
  }

  .outro-header-mobile p {
    font-size: 1rem !important;
  }

  .outro-text-mobile {
    font-size: 1rem !important;
  }

  .outro-credit-mobile p {
    font-size: 1rem;
  }

  .c-abstract-box p {
    font-size: 1rem;
  }

  .about-credit-mobile {
    font-size: 1rem;
  }

  .valbury-box-container-mobile h5 {
    font-size: 1rem;
  }

  .background-partner-overlay {
    background-position-x: 250px;
  }

  .pepperstone-text-mobile {
    font-size: 1rem;
  }

  .partner-right-container {
    height: 250px;
  }

  .background-partner-overlay {
    background-position-y: 50px;
  }

  .associates-text-mobile p {
    font-size: 1rem;
  }

  .footer-image-container p {
    font-size: 1rem;
  }

  .overlay-container-mobile-box p {
    font-size: 1rem;
  }

  .valbury-box h5 {
    font-size: 1rem;
  }

  .valbury-box h5 {
    font-size: 1rem;
  }

  .portfolio-box h5 {
    font-size: 1rem;
  }

  .ecommerce-box h5 {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .background-partner-overlay {
    background-position-x: 120px;
  }

  .footer-image-container {
    height: 200px;
  }

  .footer-link-right-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .valbury-container-mobile {
    height: 40% !important;
  }

  .other-operations-container-mobile {
    height: 60% !important;
  }

  .news-title {
    display: none;
  }

  .news-title-mobile {
    display: block;
  }
}

@media (max-width: 360px) {
  .background-partner-overlay {
    background-position-x: 20px;
  }

  .pepperstone-misc-mobile img {
    height: 50px;
  }
}