@media (max-width: 1400px) {
  .sky-video-box {
    height: 40vh;
  }
}

@media (max-width: 1200px) {
  .about-box {
    height: 50vh;
  }

  .c-abstract-box {
    height: 50vh;
  }
}

@media (max-width: 992px) {
  .burgeon-nav-menu {
    display: none !important;
  }

  .tiger-ox {
    height: 384px;
  }

  .burgeon-partner-major {
    justify-content: center !important;
  }

  .burgeon-partner-major img {
    margin-top: 36px;
  }

  .burgeon-nav-mobile-button {
    display: block !important;
  }
}

@media (max-width: 768px) {
  .burgeon-nav-title {
    display: none !important;
  }

  .contact-mobile {
    display: none;
  }

  .c-abstract-box {
    text-align: center;
  }

  .operation-text-center {
    text-align: center;
  }

  .gratitude-text-center {
    text-align: center;
  }

  .portfolio-box-mobile .col-md-4:nth-child(2), .portfolio-box-mobile .col-md-4:nth-child(3) {
    margin-top: 24px;
  }

  .valbury-container-mobile {
    height: 25% !important;
    flex-direction: row !important;
  }

  .other-operations-container-mobile {
    height: 75% !important;
  }

  .valbury-box:nth-child(1) {
    margin-bottom: 0px;
    margin-right: 12px;
  }

  .valbury-box:nth-child(2) {
    margin-top: 0px;
    margin-left: 12px;
  }

  .burgeon-mobile-first-operations {
    display: block !important;
  }

  .mobile-child-operations {
    display: none;
  }
}

@media (max-width: 576px) {
  .tiger-ox {
    height: 308px !important;
  }

  .partner-pepperstone {
    height: 64px;
  }

  .partner-aws {
    height: 48px;
  }

  .sky-video-box {
    height: 25vh;
  }

  .valbury-container-mobile {
    height: 20%;
  }

  .other-operations-container-mobile {
    height: 80%;
  }
}

@media (max-width: 400px) {
  .c-abstract-box {
    height: 65vh;
  }
}

@media (max-width: 280px) {
  .about-box {
    height: 30vh;
  }

  .c-abstract-box {
    height: 70vh;
  }
}