@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

body {
  font-family: 'Red Hat Text', sans-serif;
  background-color: #121217;
}

.bottom-footer-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

.bai-jumbotron {
  min-height: 100vh;
  width: 100%;
}

.jumbotron-logo {
  opacity: 30%;
}

.navbar-position {
  position: absolute;
  left: 0;
  right: 0;
}

.bai-navbar {
  background-color: #FFFFFF;
}

.burgeon-nav-mobile-button {
  display: none;
}

.burgeon-nav-menu {
  display: flex;
}

.offcanvas {
  z-index: 9999;
}

.contact-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 9998;
}

.contact-box {
  background-color: #FFFFFF;
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
  border-top-left-radius: var(--bs-border-radius)!important;
  border-top-right-radius: var(--bs-border-radius)!important;
  pointer-events: auto;
}

.about-box {
  height: 100vh;
}

.about-item {
  height: 100%;
  background-color: #D9D9D9;
}

.c-abstract-box {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.outro-container {
  min-height: 100vh;
}

.sky-video-box {
  height: 100vh;
  width: 100%;
}

.sky-video-content {
  height: 100%;
  width: 100%;
  background-color: #D9D9D9;
}

.partners-opacity {
  opacity: 50%;
}

.partners-opacity:hover {
  animation: fullOpacity 0.2s forwards;
}

.partners-opacity:not(:hover) {
  animation: halfOpacity 0.2s;
}

.operations-container {
  height: 100vh;
}

.adairesolutions-box {
  background-color: #D9D9D9;
  height: 100%;
}

.operation-child-container {
  margin-top: 24px;
}

.portfolio-box {
  background-color: #D9D9D9;
  height: 100%;
}

.ecommerce-box {
  background-color: #D9D9D9;
  height: 100%;
}

/* Animation */

@keyframes fullOpacity {
  0% { opacity: 0.5; }
  100% { opacity: 1; }
}

@keyframes halfOpacity {
  0% { opacity: 1; }
  100% { opacity: 0.5; }
}