@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Red Hat Text", sans-serif;
  background-color: #000707;
}

.bottom-footer-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer-hr {
  color: #025249;
  margin: 0;
  border: 4px solid;
}

.footer {
  margin-top: auto;
}

.footer-image-container {
  height: 100%;
  background-color: #272731;
}

.bai-jumbotron {
  min-height: 100vh;
  width: 100%;
  margin-bottom: 16px;
}

.jumbotron-logo {
  z-index: 9991;
  transition: transform 500ms;
  opacity: 60%;
}

#burgeon-navbar {
  z-index: 9997;
}

.bai-link {
  transition: color 300ms;
}

.bai-link:hover {
  color: #e89e11 !important;
}

.navbar-position {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 1.5rem;
}

.bai-navbar {
  background-color: #013933;
  border-radius: var(--bs-border-radius-pill);
  transition: all 500ms;
}

.padding-twentyfour-rl {
  padding-left: 24px;
  padding-right: 24px;
}

.margin-twentyfour-rl {
  margin-left: 24px;
  margin-right: 24px;
}

.margin-twelve-rl {
  margin-left: 12px;
  margin-right: 12px;
}

.padding-twelve-rl {
  padding-left: 12px;
  padding-right: 12px;
}

.padding-twelve-r {
  padding-right: 12px;
}

.padding-twelve-l {
  padding-left: 12px;
}

.burgeon-nav-mobile-button {
  display: none !important;
}

.burgeon-nav-menu {
  display: flex;
}

.offcanvas {
  z-index: 9998;
}

.contact-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 9995;
}

.contact-box {
  background-color: #013933;
  position: fixed;
  bottom: 0;
  left: 0;
  width: auto;
  border-top-left-radius: var(--bs-border-radius) !important;
  border-top-right-radius: var(--bs-border-radius) !important;
  pointer-events: auto;
}

.about-box {
  height: 100vh;
}

.about-item {
  height: 100%;
  background-color: #272731;
}

.c-abstract-box {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.outro-container {
  min-height: 100vh;
  padding: 12px;
}

.outro-container-gradient {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 9992;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 7, 7, 1) 10%,
    rgba(0, 7, 7, 0.5),
    rgba(0, 7, 7, 1) 75%
  );
}

.outro-container-background {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.outro-box {
  pointer-events: none;
  z-index: 9993;
}

.outro-credit {
  z-index: 9993;
  pointer-events: none;
}

.outro-credit p {
  pointer-events: auto;
}

.outro-header-box {
  z-index: 9993;
  padding-right: 24px;
}

.sky-video-content {
  height: 100%;
  width: 100%;
  background-color: #272731;
}

.partners-opacity {
  opacity: 50%;
}

.partners-opacity:hover {
  animation: fullOpacity 0.2s forwards;
}

.partners-opacity:not(:hover) {
  animation: halfOpacity 0.2s;
}

.operations-container {
  height: 100vh;
}

.valbury-box {
  padding-left: 70px !important;
  background-color: #d9d9d9;
  transition: all 500ms;
}

.valbury-box-container-mobile-hide {
  display: none !important;
}

.valbury-box:nth-child(1) {
  background-color: #1f4b8a;
  margin-bottom: 12px;
}

.valbury-box:nth-child(2) {
  background-color: transparent;
  margin-top: 12px;
  padding-left: 0px !important;
}

.operation-child-container {
  margin-top: 24px;
}

.portfolio-box {
  background-color: #272731;
  height: 100%;
}

.ecommerce-box {
  background-color: #272731;
  height: 100%;
}

.investment-box {
  background-color: #272731;
  height: 100%;
}

.burgeon-mobile-first-operations {
  display: none;
}

.operation-container-overlay-container {
  height: 100vh;
  position: absolute;
  left: 0;
  z-index: 9994;
}

.operation-container-overlay {
  background-color: #1c1c24;
  height: 100%;
  border-top-right-radius: var(--bs-border-radius) !important;
  border-bottom-right-radius: var(--bs-border-radius) !important;
  transition: width 500ms;
  width: 100%;
}

.width-70 {
  width: 70px !important;
}

.height-70 {
  height: 70px !important;
}

.width-80-percent {
  width: 80% !important;
}

.width-20-percent {
  width: 20% !important;
}

.rotate-overlay-button {
  transform: rotate(180deg);
}

.rotate-overlay-mobile-button {
  transform: rotate(180deg);
}

.hide-section {
  display: none;
}

.pointer-events-none {
  pointer-events: none;
}

.pointer-events-auto {
  pointer-events: auto;
}

.jumbotron-overlay {
  right: 0;
  bottom: 0;
  height: 50%;
  width: 50%;
  position: absolute;
  z-index: 9990;
}

.jumbotron-lower-cover {
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(transparent, #000707);
  width: 100%;
  height: 50%;
}

.jumbotron-overlay-text-box {
  padding: 0 24px 0 12px;
}

.jumbotron-item {
  height: fit-content;
  padding: 24px;
  background-color: rgba(1, 57, 51, 0.3);
  border-radius: var(--bs-border-radius);
}

.slider-container .slick-slide {
  margin: 0px 30px 0px 0px;
}

.slider-container .slick-list {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.slider-container .slick-arrow {
  display: none !important;
}

.about-rightbox-focus {
  width: fit-content;
  background-color: rgba(59, 59, 76, 0.3);
}

#jumbotron-player {
  opacity: 40%;
  position: absolute;
  width: 100%;
  object-fit: cover;
  height: 100%;
  top: 0;
}

.badge-fit-content {
  width: fit-content;
}

.outro-images-container {
  z-index: 9999;
}

.outro-cover {
  height: 100%;
  width: 100%;
  opacity: 50%;
  object-fit: cover;
}

.vr {
  width: 5px;
}

.background-partner-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  right: 0;
  opacity: 0.6;
  background-image: url("https://images.burgeonadaire.com/pepperstone-logo-bai.webp");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 220px;
  background-position-x: 200px;
  pointer-events: none;
}

.partner-right-container {
  height: 500px;
}

.partner-right-box {
  background-color: #272731;
}

.btn-pepperstone {
  --bs-btn-bg: #8b0000;
  --bs-btn-border-color: #8b0000;
  --bs-btn-hover-bg: #610000;
  --bs-btn-hover-border-color: #610000;
  --bs-btn-active-bg: #380000;
  --bs-btn-active-border-color: #380000;
}

.btn-cp {
  --bs-btn-bg: #121217;
  --bs-btn-border-color: #121217;
  --bs-btn-hover-bg: #0d0d10;
  --bs-btn-hover-border-color: #0d0d10;
  --bs-btn-active-bg: #070709;
  --bs-btn-active-border-color: #070709;
  position: absolute !important;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  left: 0;
  padding: 18px;
  margin-top: 24px;
}

.btn-cp-mobile {
  --bs-btn-bg: #121217;
  --bs-btn-border-color: #121217;
  --bs-btn-hover-bg: #0d0d10;
  --bs-btn-hover-border-color: #0d0d10;
  --bs-btn-active-bg: #070709;
  --bs-btn-active-border-color: #070709;
  padding: 18px;
  width: 100%;
  margin-top: 24px;
  border-radius: 0px;
}

.news-title-mobile {
  display: none;
}

.news-title-mobile-expanded {
  display: none;
}

/* Navigation Dropdown */

.dropdown-menu {
  background-color: #01201d;
  --bs-dropdown-link-hover-bg: #013933;
  --bs-nav-link-hover-color: #f8f9fa;
  --bs-dropdown-link-active-bg: #000707;
}

.partners-marquee-box {
  height: 150px;
}

.partners-small-box {
  background-color: #000707;
}

.overlay-container-mobile {
  display: none;
}

.signal-order-text::first-letter {
  text-transform: uppercase;
}

.signal-order-description {
  font-size: 14px !important;
}

.signal-order-box-custom {
  right: 0;
  position: absolute;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  background-color: #22345f;
  border-top-left-radius: var(--bs-border-radius);
  border-bottom-left-radius: var(--bs-border-radius);
}

#status-message-mobile {
  display: none;
}

#status-message {
  display: none;
}

.data-unavailable {
  color: #f8f9fa;
  font-weight: 500;
}

.data-closed-signal {
  display: none;
}

.data-unavailable-signal {
  display: none;
}

.data-unavailable-background {
  background-color: #1b1b22 !important;
}

.data-sell-background {
  background-color: #631a1a;
}

.vaf-slide-container {
  position: absolute;
  top: 0;
  margin-top: 68px;
}

.vaf-slide-button.active {
  background-color: #f8f9fa;
}

.vaf-slide-button {
  margin-right: 12px;
  height: 10px;
  width: 10px;
  background-color: #a1aebc;
  border-radius: 5px;
  cursor: pointer;
}

.burgeon-adaire-link {
  transition: all 0.3s;
}

.burgeon-adaire-link:hover {
  color: #8b0000 !important;
}

.valbury-box:nth-child(2) .slick-slide {
  margin: 0px 0px 0px 0px;
  height: 100%;
  display: grid;
}

.valbury-box:nth-child(2) .slick-track {
  height: 100%;
}

.valbury-box:nth-child(2) .slick-list {
  height: 100%;
}

.valbury-box:nth-child(2) .slick-slider {
  display: grid;
  height: 100%;
}

.valbury-box:nth-child(2) .slick-slide div {
  outline: none;
}

.valbury-box:nth-child(2) .slick-arrow {
  display: none !important;
}

.news-content-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 70px;
  height: 100%;
  width: 100%;
  border-radius: var(--bs-border-radius);
  background-image: linear-gradient(
    to top,
    rgba(18, 18, 23, 0.9) 30%,
    rgba(18, 18, 23, 0.4)
  );
}

.news-content-image {
  border-radius: var(--bs-border-radius);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.burgeon-adaire-link-svg-inside > path {
  transition: all 0.3s !important;
}

.burgeon-adaire-link-svg-inside > g > g > path {
  transition: all 0.3s !important;
}

.about-item.about-item-blue {
  background-size: cover;
  background-image: linear-gradient(
      to top,
      rgba(18, 18, 23, 0.9) 30%,
      rgba(18, 18, 23, 0.4)
    ),
    url("https://images.burgeonadaire.com/about-blue.webp");
}

.about-item.about-item-brown {
  background-size: cover;
  background-image: linear-gradient(
      to top,
      rgba(18, 18, 23, 0.9) 30%,
      rgba(18, 18, 23, 0.4)
    ),
    url("https://images.burgeonadaire.com/about-brown.webp");
}

.extras-container-mobile {
  display: none !important;
}

.link-blank-space {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.operations-dots {
  margin-bottom: 24px;
  margin-right: 24px;
  bottom: 0;
  right: 0;
  padding: 0 0;
  list-style: none;
  position: absolute;
  display: flex !important;
  flex-direction: row !important;
}

.operations-dots li {
  margin-left: 6px;
  margin-right: 6px;
}

.operations-dots li:last-child {
  margin-left: 6px;
  margin-right: 0px;
}

.operations-dots li:first-child {
  margin-left: 0px;
  margin-right: 6px;
}

.operations-dots li {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #a1aebc;
}

.operations-dots li.slick-active {
  background-color: #ffffff;
}

.operations-circle-indicator {
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.footer-image-container {
  background-image: url("https://images.burgeonadaire.com/lantern.webp");
  background-size: cover;
  background-position: center;
}

.contact-detail {
  display: none;
}

.w-60 {
  width: 60%;
}

.w-40 {
  width: 40%;
}

:root {
  --cc-modal-margin: 24px !important;
}

.contact-content {
  display: none;
}

.show-contact-content {
  display: block;
}

.contact-button-zoom {
  height: 52px;
  width: 52px;
  display: block;
  border-radius: 26px;
  background-color: rgba(11, 92, 255, 0.7);
}

.contact-button-colorful {
  height: 52px;
  width: 52px;
  display: block;
  border-radius: 26px;
  background-color: rgba(255, 255, 255, 0.7);
}

.contact-button-redbai {
  height: 52px;
  width: 52px;
  display: block;
  border-radius: 26px;
  background-color: rgba(139, 0, 0, 0.7);
}

.contact-button-colorful-small {
  height: 40px;
  width: 40px;
  display: block;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

.dropdown-menu-pepperstone {
  background-color: #8b0000;
  border-color: #380000;
}

.dropdown-item-pepperstone:hover {
  background-color: #380000;
}

#cc-main {
  --cc-font-family: "Red Hat Text", sans-serif;
  --cc-btn-primary-bg: #121217;
  --cc-btn-primary-border-color: #121217;
  --cc-btn-primary-hover-bg: #0d0d10;
  --cc-btn-primary-hover-border-color: #0d0d10;
}

/* Animation */
@keyframes fullOpacity {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes halfOpacity {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.overlay-button {
  transition: transform 500ms;
}

.overlay-mobile-button {
  transition: transform 500ms;
}

#chevron-nav {
  transition: transform 500ms;
}

@keyframes jumbotronOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.6;
  }
}

.jumbotron-logo-reveal {
  animation: jumbotronOpacity 2s forwards;
}
