@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

body {
  font-family: 'Red Hat Text', sans-serif;
}

.bottom-footer-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

.bai-jumbotron {
  min-height: 100vh;
  width: 100%;
}

.jumbotron-logo {
  opacity: 50%;
}

.navbar-position {
  position: absolute;
  left: 0;
  right: 0;
}

.contact-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  pointer-events: none;
}

.contact-box {
  background-color: #FFFFFF;
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
  border-top-left-radius: var(--bs-border-radius)!important;
  border-top-right-radius: var(--bs-border-radius)!important;
  pointer-events: auto;
}

.about-box {
  height: 100vh;
}

.about-item {
  height: 100%;
  background-color: #000000;
}